<% layout("/layouts/boilerplate") %>
<body>
<div class="row mt-3">
<div class="col-8 offset-2">
    <h3>Edit your Listing </h3>

    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="md-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" value="<%= listing.title %>"  required>
            <div class="valid-feedback">Title looks good! </div>
            
        </div>

        <div class="md-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%= listing.description %>  </textarea>
            <div class="invalid-feedback">Please enter a short description </div>
        </div>
        <div class="md-3">
            <label>Category</label>
                <select name="listing[category]" required>
                    <option value="mountains" <%= listing.category==="mountains"?"selected":"" %>>Mountains</option>
                    <option value="arctic" <%= listing.category==="arctic"?"selected":"" %>>Arctic</option>
                    <option value="deserts" <%= listing.category==="deserts"?"selected":"" %>>Deserts</option>
                    <option value="farms" <%= listing.category==="farms"?"selected":"" %>>Farms</option>
                </select>
        </div>
        <div class="mb-3">
            Original Listing Image :-<br>
            <img src="<%= originalImageUrl %>" class="card-img-top show-image" alt="listing_image">
         </div>
         <div class="mb-3">
             <label for="image" class="form-label"> Upload new Image URL</label>
             <input type="file" value="<%= listing.image %>" name="listing[image]" class="form-control" >

         </div>
         <div class="row">
        
         <div class="md-3 col-md-4">
             <label for="price" class="form-label">Price</label>
             <input type="number" name="listing[price]" value="<%= listing.price %>"  class="form-control" required>
             <div class="invalid-feedback">Please enter a valid price </div>

         </div>
        <div class="md-3 col-md-8">
            <label for="country" class="form-label">country</label>
            <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control"required>
            <div class="invalid-feedback">Please enter a valid country </div>
        </div>
        </div>
        <div class="md-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"required>
            <div class="invalid-feedback">Please enter a valid location </div>
        </div>
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
    </form>
</div>
</div>
    
</body>
